*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: yellow;
}

.section01{
    background-image: url(./imagens/mobile/ret_branco_mob.png);
}

.titMenu{
    display: flex;
    align-items: center;
}

.titMenu img{
    width: 50px;
}

.logotdc{
    margin-left: 25%;
}

/* .capaCabeludo, .meninasPrincesas, .maju, .cabeludoPraia, .rainha, .maeFilha, .lavando, .platinada, .galeria{
    height: 100svh;
} */

.capImg{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    bottom: 47vh;
    left: 15px;
    padding: 0.5rem;
}
.cabeludoImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60svh;
    width: 100%;   
}
.backText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -12rem;
}

.textoCap{
    position: relative;
    bottom: 50vh;
    width: 265px;
}

.retangulo{
    height: 55vh;
}


/* .meninasPrincesas{
    background-image: url(./imagens/mobile/meninas_princesas_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .maju{
    background-image: url(./imagens/mobile/maju_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .cabeludoPraia{
    background-image: url(./imagens/mobile/cabeludopraia_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .rainha{
    background-image: url(./imagens/mobile/rainha_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .maeFilha{
    background-image: url(./imagens/mobile/mae_filha_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .lavando{
    background-image: url(./imagens/mobile/lavando_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .platinada{
    background-image: url(./imagens/mobile/lavando_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */