*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section01{
    background-image: url(./imagens/mobile/ret_branco_mob.png);
}

.titMenu{
    display: flex;
    align-items: center;
}

.titMenu img{
    width: 50px;
}

.logotdc{
    margin-left: 25%;
}